ENDPOINT_CODE="ARE"
PROFILE_ID="100001"
SERVER_KEY="SERVER-KEY"
CURRENCY="AED"

# ENDPOINT_CODE="SAU"
# PROFILE_ID="100002"
# SERVER_KEY="SERVER-KEY-2"
# CURRENCY="SAR"

APP_URL="https://b4cc-86-96-57-177.ngrok-free.app"

TRANSACTION_REF="TST000000000000"

TOKEN="TOKEN-KEY"
TOKEN_ENHANCED="TOKEN-ENHANCED-KEY"

INVOICE_ID="20000001"

THEME_ID="3001"

PAYMENT_TOKEN="MANAGE-FORM-KEY"

PHONE_NUMBER="+971234567890"
